
@{
    ViewBag.Title = "Foo";
}
<div data-bind="dump: people"></div>
<section>Records:
    <div data-bind="text: people().length"></div>
    <ul data-bind="foreach:people">
        <li>
            <span data-bind="text:firstName"></span>
            <span data-bind="text:lastName"></span>
        </li>
    </ul>
</section>


@section scripts{
    <script>
        var vm = (function () {
            var Person = function (first, last) {
                this.firstName = ko.observable(first);
                this.lastName = ko.observable(last);
                this.child = {};
                this.pets = {};
            };

            var p1 = new Person('John', 'Papa');
            var p2 = new Person('Colleen', 'Papa');
            var p2a = new Person('Ella', 'Papa');
            p2.child = ko.observable(p2a);

            var people = ko.observableArray([p1, p2]);

            var vm = {
                people: people
            };

            return vm;
        })();

        ko.applyBindings(vm);
    </script>
    
}

