@{
    ViewBag.Title = "Home Page";
}

Name: <input type="text" data-bind="value: name, valueUpdate:'afterkeydown'" />
<input type="checkbox" data-bind="checked: nameVisible" />
<p>
    Hello, <span data-bind="text: name,visible:nameVisible "></span>
</p>
<label data-bind="text:fullName"></label>
<button data-bind="click: changeName">Change Name</button>


@section scripts{
    <script>
        $(function () {
            var viewModel = {
                name: ko.observable('bob'),
                changeName: function () {
                    this.name('steve');
                },
                nameVisible: ko.observable(true),
                firstName: ko.observable('man'),
                lastName: ko.observable('glez')
            };

            viewModel.fullName = ko.computed(function () {
                return this.firstName() + ' ' + this.lastName();
            }, viewModel)
            ko.applyBindings(viewModel);
        })
    </script>

}